.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: whitesmoke;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contact-container {
  background-color: white;
  width: 800px;
  height: 400px;
  display: grid;
}

table {
  background: #DD4124;
}

table > thead {
  color: white;
}

table > thead > tr > th {
  padding: 20px;
}


table > tbody {
  background: white;
  text-align: center;
}

tbody > tr > td {
  padding: 10px;
}

.page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.page-container {
  display: flex;
}

.active {
  color: white !important;
  background: #DD4124;
}

.desc {
  text-align: left;
}

button {
  cursor: pointer;
}

.btn {
  color:#DD4124;
  cursor:pointer;
  font-size:16px;
  text-align:center;
  padding: 0 10px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin:5px;
  border: none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   text-decoration: none;
}

.btn:hover {
  text-decoration: none;
  background: #DD4124;
  color: #fff;
}

.table-btn {
  background: #DD4124;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.modal {
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  z-index: 1; 
  width: 100%; 
  height: 100%; 
  position: fixed; 
  top: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  padding-top: 80px; 
}

.modal-content {
  background-color: white;
  width: 70%; 
  max-width: 640px; 
  height: 40%; 
  margin: auto; 
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px; 
}

.modal-flex {
   display: flex;
   justify-content: space-between;
}

.text {
  text-align: left;
}

.desc {
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.close {
  background: transparent;
  font-size: 32px;
  border: none;
}


